<h1>Hi!</h1>

<p>To reset your password, please visit the following link</p>

<a href="{{ url("app_login") }}">{{ url('app_login' ) }}</a>

use this password {{ randomBit }}

<p>This link will expire in 12 hour(s).</p>

<p>Cheers!</p>