{% extends 'menu.html.twig' %}

{% block title %}New Tickets{% endblock %}
{% block body %}

    <div id="new">
        <h1>Create new Tickets</h1>
        {{ include('tickets/_form.html.twig') }}
    </div>

{% endblock %}

