{% extends 'menu.html.twig' %}

{% block title %}Home{% endblock %}
{% block body %}
    {% if is_granted("ROLE_MANAGER") %}
    <div class="tableWrapper">
        <a href="{{ path('tickets_reset') }}">reset tickets</a>
    </div>
    {% endif %}
{% endblock %}
